<template>
  <div class="left-panel">
    <button class="closePanel" v-on:click="closePanel()"><i class="left"></i></button>
    <p>I'm&nbsp;a&nbsp;left&nbsp;panel!</p> 
  </div>
</template>

<script>
export default {
  name: 'left-panel',
  props: {
    message: String
  },
  methods: {
    closePanel: function(event) {
      Array.prototype.forEach.call(document.getElementsByClassName("right-panel"), topNav => {
       topNav.style.marginLeft = "0px";
      })
      Array.prototype.forEach.call(document.getElementsByClassName("left-panel"), sideMenu => {
        sideMenu.style.width = "0px";
      });
      document.body.style.backgroundColor ="#f2f2f2";
      
    }
  }
}
</script>