<template>
  <div class="right-panel">
    <img class="logo" src="../images/smartpay-logo.svg" width="350px" style="margin-left:30vh">
    <div class="response">
      <div v-if="loading" class="loading">
        <img class="logo" src="../images/loading.gif" width="70" height="60">
      </div>
      <div v-if="companies" class="companies">
        <ul>
          <li v-for="company in companies">
            {{company.Title}}
          </li>
        </ul>
      </div>
      <div v-else-if="error" class="error">
        {{error}}
        <button v-on:click="getCompanies()">Refresh</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'right-panel',
  props: {
    msg: String
  },
  data() {
    return {
      loading: false,
      companies: null,
      error: null
    }
  },
  created() {
    this.getCompanies();
  },
  methods: {
    getCompanies() {
      var server = this;
      server.loading = true;
      server.error = false;
      setTimeout(function() {
        axios.get('http://localhost:5000/companies').then((response) => {
          server.loading = false;
          server.companies = response.data;
        }).catch((error) => {server.error = error; console.log(error);})
      }, 2000);
    },
  }
}
</script>