<template>
  <div class="my-header">
    <button class="openPanel" v-on:click="openPanel()"><i class="right"></i></button>
  </div>
</template>

<script>
export default {
  name: 'topnav',
  props: {
    message: String
  },
  methods: {
    openPanel: function(event) {
      Array.prototype.forEach.call(document.getElementsByClassName("right-panel"), topNav => {
        topNav.style.marginLeft = "400px";
      })
      Array.prototype.forEach.call(document.getElementsByClassName("left-panel"), sideMenu => {
        sideMenu.style.width = "400px";
      });

       document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
  }
}
</script>