<template>
  <div id="sp-App">
    <vue-headful title="SmartPay"/>
    <topnav />
    <div class="content">
      <leftpanel />
      <rightpanel />
    </div>
  </div>
</template>

<script>
import topnav from './components/sp-topnav.vue'
import leftpanel from './components/sp-leftpanel.vue'
import rightpanel from './components/sp-rightpanel.vue'

export default {
  name: 'sp-App',
  components: {
    topnav,
    leftpanel,
    rightpanel
  }
} 
</script>

<style>
body {
  background-color: #f2f2f2;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0px;
}
.closePanel {
  margin: 10px 5px 5px 5px;
  position: absolute;
  right: 10px;
  height: 23px;
  background-color: #2D4B8C;
  border: 0px;
}

.my-header {
  background-color: white;
  height: 45px;
  overflow: hidden;
}

/*Image animation*/
img {
  margin-top: 40vh;
  animation-name: fadeIn;
  animation-duration: 8s;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 1s;
}

.openPanel {
  margin: 10px 5px 5px 5px;
  height: 23px;
  border: none;
  background-color: white; 
}

.left-panel {
  margin-top: -45px;
  margin-left: -10px;
  height: 100%;
  width: 0;
  position: fixed;
  transition: 1s;
  overflow-x: hidden;
  background-color: #2D4B8C;
  box-shadow: 0px 0px 20px black;
  z-index: 1;
}

.left-panel {
  padding: 0px 0px 0px 10px;
  color: white;
  transition: 1s;
  display: block;
}

/*Arrow dimension*/
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}

/*Close Navigation Menu arrow*/
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
/*Open Navigation Menu arrow*/
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@media screen and (max-height: 450px) {
  .leftpanel {padding-top: 0;}
}
</style>